.git/
*.libcd
*.zip
*.dll
__history/
__recovery/
~*
*.user
*.suo
__astcache/
Debug/
*.stat
*.local
*.dsk
*.res
*.skincfg
html/
*.obj
*.html
ds/dis/dis.sdf
ds/dis/dis.suo
*.pch
*.local
*.#00
*.#*
*.stat
*.res
*.log
*.opensdf
*.suo
*.lastbuildstate
*.tmp
*.tlog
!ATS.exe
!ats.txt
*.map
*.tds
*.ilf
*.ils
*.ilc
*.ild
*.ilk
*.stat
*.bsc
*.idb
*.pdb
*.ats
*.dat
*.local
*.o
.depend
.stignore
dis.a
dtp.a
gos.a
gplat.a
pdb.a
*.pu
*.sln
*.vcxproj
debug/
*.rc
dc/
*.lib
*.dll
*.log
ZiLTE_SDK/
libcurl/
pic/
tool/
client_if/
ZiLTE_SDK/
ffmpeg_api/
ffmpeg4.0.1/
oma/
mrs/
omt/
omc/
backup.bat
*.bpi
*.a
*.lib*
*.bsc*
*.idb*
*.pdb*
*.exe
*.exe*
*.ilk
*.ilk*
*.ilc
*.ild
log/
*.tds
*.ilf
*.log
*.dat
*.map
*.dll*
*.json*